@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #F0BB78;
    margin: 0%;
    font-size: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-top: 80px;
    color: #543A14;
}

*{
    font-family: "Inter", sans-serif;
}

.heading {
    font-family: "IBM Plex Serif", serif;
}

header {
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    background-color: #543A14;
    &>#logo {
        height: 50px;
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        color: #F0BB78;
        margin-left: 20px;
        font-size: 32px;
        gap: 14px;
        transition: 0.15s;
        & >.logo-img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: #F0BB78;
        }
        &:hover{
            font-size: 34px;
            color: #FFF0DC;
        }
    }
    &>.menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        & .menu-icons{
            fill: #D0975E;
            height:48px;
            width: 48px;
            padding: 10px 20px;
            display: none;
        }
        &>#sidebar-active{
            display: none;
        }
        &>#navlinks {
            height: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 15px;
            &>a{
                text-decoration: none;
                color: #F0BB78;
                transition: 0.1s;
                &:hover,.active{
                    font-size: 26px;
                    color: #FFF0DC;
                }  
            }
            & button {
                font-size: 0.9em;
                font-weight: bold;
                border: none;
                height: 32px;
                width: 80px;
                background-color: #F0BB78;
                color: #543A14;
                border-radius: 8px;
                transition: 0.3s;
                margin-right: 22.5px;
                &:hover {
                    height: 34px;
                    width: 84px;
                    color: #FFF0DC;
                    border-radius: 10px;
                    margin-right: 20px;
                }
            }
        }
    }
}


#home {
    margin-top: -80px;
    min-height: 70vh ;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    &>.home-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 180px;
        padding: 0px 80px;
        &>.home-text{
            &>h1 {
                font-size: 40px;
                font-weight: 600;
            }
            &>p{
                width: 400px;
            }
        }
        &>.home-img{
            height: 312px;
            width: 312px;
            border: 10px solid #543A14;
            border-radius: 20px;
            background-color: #FFF0DC80;
        }
    }
}

.middle-hr {
    border: 1.5px solid #543A14;
    margin: 60px 10vh;
}

#portfolio {
    padding-top: 100px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 20px;
    &>h2{
        text-transform:capitalize;
        text-align: center;
        font-size:2.5rem;
    }
    &>.portfolio-container{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin: 0px 10px;
        gap: 10px;
        padding: 0px 40px;
        &>.arrow {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #fff0dc;
            fill: #000;
            cursor: pointer;
            position: absolute;
        }
        &>#left-arrow {
            left: 0px;
        }
        &>#right-arrow {
            right: 0px;
        }
        &>.cards {
            align-self: center;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: calc((100%/5) - 16px);
            justify-items: start;
            gap: 20px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            cursor: pointer;
            scroll-behavior: smooth;
            & >.card {
                scroll-snap-align: start;
                min-width: 240px;
                height: 420px;
                border-radius: 25px;
                border: 1px solid #000;
                display: grid;
                grid-template: 200px 200px / 1fr;
                justify-items: center;
                align-items: start;
                background-color: #D0975E;
                padding: 20px;
                & >.card-img {
                    margin-top: px;
                    height: 200px;
                    width: 200px;
                    border: 10px solid #543A14;
                    border-radius: 30px;
                }
                &>.card-text {
                    color: #00000099;
                    & >h2{
                        color: #000000;
                    }
                }
            }
        }
        &>.dragging {
            scroll-snap-type: none;
            scroll-behavior: auto; 
            &>.card {
            cursor: grab;
            user-select: none;
            }
        }
        &>.no-transition {
            scroll-behavior: auto;
        }
    }
}

#about {
    padding-top: 100px;
    margin-top: -100px;
    height: 58vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &>h2{
        text-transform:capitalize;
        text-align: center;
        font-size: 2.5rem;
    }
    &>.about-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        margin: 0px 120px;
        & >.face-img{
            height: 160px;
            width: 160px;
            border: 1px solid #543A14;
            border-radius: 50%;
            background-color: #FFF0DC75;
        }
        & >.about-content{
            max-width: 950px;
            min-width: 400px;
            height: 125px;
            text-align: left;
            margin-bottom: 10px;
            padding-bottom: 10px;

        }
    }


}

#contact{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    &>.profile-icons{
        height: 140px;
        width: 140px;
        display: grid;
        grid-template: 60px 60px / 60px 60px;
        justify-items: center;
        align-items: center;
        gap: 20px;
        margin: 60px 0px;
        &>.icon{
            height: 45px;
            width: 45px;
            padding: 10px;
            background-color: #543A14;
            border-radius: 20%;
            transition: 0.3s;
            fill: #F0BB78;
            &:hover{
                height: 50px;
                width: 50px;
                border: 1px solid #543A14;
                background-color: #F0BB78;
                fill: #543A14;
            }
        }
    }
    &>.contact-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &>h2{
            font-size: 40px;
            margin-top:-20px;
            padding: 20px 0px;
        }
        &>.contact-details{
            display: grid;
            grid-template: 30px 30px / 75px 200px;
            justify-content: end;
            row-gap: 10px;
            align-items: end;
            &>.detail-type{
                font-weight: 500;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #543A14;
    color: #FFF0DC75;
    font-size: 20px;
    margin-top: 10px;

}

@media screen and (max-width:1600px) {
    #portfolio >.portfolio-container >.cards{ 
        grid-auto-columns: calc((100%/4) - 15px); 
    }
}

@media screen and (max-width:1300px) {
    #portfolio >.portfolio-container >.cards{ 
        grid-auto-columns: calc((100%/3) - 14px); 
    }
}

@media screen and (max-width:1000px) {
    #portfolio >.portfolio-container >.cards{ 
        grid-auto-columns: calc((100%/2) - 10px); 
    }
    #home>.home-content{
        flex-direction: column-reverse;
        gap: 10px;
        width: 80vh;
        &>.home-img{
            width: 250px;
            height: 250px;
            margin-top: 100px;
        }
        &>.home-text>p{
            width: 80vw;
            min-width: 400px;
        }
    }
}

@media screen and (max-width:700px) {
    #home >.home-content >.home-img{
        width: 200px;
        height: 200px;
    }
    #portfolio >.portfolio-container >.cards{ 
        grid-auto-columns: 100%; 
    }
    #contact{
        height: 400px;
        flex-direction: column;
        margin: auto auto;
        gap: 30px;
        &>.profile-icons{
            column-gap: 60px;
        }
    }
}

@media screen and (max-width: 800px){
    header{
        height: 60px;
        &>#logo {
            font-size: 28px;
            & >.logo-img {
                height: 40px;
                width: 40px;
            }
            &:hover{
                font-size: 30px;
            }
        }
        &> .menu {
            & .menu-icons{
                display: block;
                &:hover{
                    fill: #FFF0DC;
                }
            }
            &> #navlinks{
                background-color: #543A14;
                flex-direction: column;
                align-items: flex-start;
                position: fixed;
                z-index: 4;
                top: 0;
                right: -100%;
                width: 250px;
                height: auto;
                transition: 0.35s ease-out;
                font-size: 24px;
                & a{
                    box-sizing: border-box;
                    padding: 10px 30px;
                    justify-content: flex-start;
                }
                & button {
                    margin-bottom: 20px;
                }
                & #close-sidebar-button{
                    margin-left: -10px;
                    align-self: flex-end;
                }
            }
            &>#sidebar-active:checked{
                & ~ #exit-menu-overlay{
                    background-color:#00000050;
                    height: 100%;
                    width: 100%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 3;
                }
                & ~ #navlinks{
                    right: 0;
                }
            }
        }
    }
}
